@menuSelectColor: #0455da; // 菜单选择蓝色
@labelColor: #0E1D38; // 字体颜色
@inputInner: 2.125rem;
@borderBase: #DADCE0;
@placeBase: #9FA5AF;
// 多选框
.el-checkbox{
  // 基本样式
  .el-checkbox__inner {
    background: #FFFFFF;
    border: 1px solid #BCBDBE;
    border-radius: 0;
    width: 16px;
    height: 16px;
  }
  .el-checkbox__label {
    font-size: 14px;
    font-family: Microsoft YaHei;
    font-weight: 400;
    color: @labelColor;
    padding-left: 10px;
    line-height: 18px;
  }
  // 选中后的样式
  .el-checkbox__input.is-checked .el-checkbox__inner, .el-checkbox__input.is-indeterminate .el-checkbox__inner {
    background: @menuSelectColor;
    border:none;
    color:#FFFFFF;
  }
  .el-checkbox__input.is-checked+.el-checkbox__label {
    color: @labelColor;
  }
  // 选中框对勾样式
  .el-checkbox__inner::after {
    border-right-width: 2px;
    border-bottom-width: 2px;
    left: 6px;
    top: 2.5px;
  }
  // 不可选的样式
  .is-disabled{
    .el-checkbox__inner {
      border: none;
      background: #D3D5D8;
      box-sizing: border-box;
    }
  }
  .el-checkbox__input.is-disabled+span.el-checkbox__label {
    color: #A8AFB9;
  }
  .el-checkbox__input.is-indeterminate .el-checkbox__inner::before {
    top: 7px;
  }
}

// 菜单项样式-展开时
.el-menu{
  height: 100%;
  background-color: #122443;
  border: none;
  --el-menu-bg-color: #122443;
  --el-menu-text-color: #FFF;
  --el-menu-item-height: 40px;
  --el-menu-active-color: #FFF;
  --el-menu-hover-text-color: #FFF;
  --el-menu-hover-bg-color: @menuSelectColor;
  .el-menu-item{
    color: #FFF;
    height: 50px;
    line-height: 50px;
    border: none;
    margin-right: 4px;
  }
  .el-sub-menu{
    margin-right: 4px;
    .el-sub-menu__title{
      color: #FFF;
      height: 50px;
      line-height: 50px;
      border: none!important;
    }
    .el-sub-menu__title:hover{
      background-color: @menuSelectColor;
    }
    & > .el-menu{
      .el-menu-item{
        padding-left: 55px!important;
      }
    }
  }
  .el-sub-menu.is-active{
    .el-sub-menu__title{
      background-color: @menuSelectColor;
    }
  }
  .el-menu-item.is-active{
    border: none;
    background-color: @menuSelectColor;
  }
  .el-menu-item:hover{
    background-color: @menuSelectColor;
  }
}
.el-menu.el-menu--popup{
  .el-menu-item{
    height: 40px;
    line-height: 40px;
    margin-right: 0;
    margin-top: 4px;
  }
  .el-menu-item:nth-of-type(1){
    margin-top: 0px;
  }
}
// 菜单收缩时样式
.el-menu.el-menu--collapse{
  .el-menu-item{
    padding-left: 10px!important;
  }
  .el-sub-menu__title{
    padding-left: 10px!important;
  }
  & > .el-menu-item{
    & > div{
      padding-left: 8px!important;
    }
  }
}
// 菜单收缩时样式hover菜单
.el-popper{
  border: none!important;
}

// // 输入框样式
// .el-input{
//   --el-border-color-base: @borderBase;
//   --el-input-hover-border: @borderBase;
//   --el-input-focus-border: @menuSelectColor;
//   --el-input-placeholder-color: @placeBase;
//   .el-input__inner{
//     border-radius: 0;
//     height: @inputInner!important;
//     line-height: @inputInner!important;
//   }
//   .el-input__inner:hover{
//     // border: 1px solid red;
//     border: none;
//   }
// }

// 按钮样式
.el-button{
  border-radius: 0;
  height: @inputInner;
  line-height: @inputInner;
  padding: 0 0.875rem;
}
.el-button.standard:hover{
  background-color: #FFF;
  color: #0455DA;
  border-color: #0455DA;
}

// 时间选择器样式
.el-date-editor{
  border-radius: 0;
  height: @inputInner;
}
.el-date-editor:hover{
  border-color: @borderBase;
}
.el-date-editor.is-active:hover{
  border-color: @menuSelectColor;
}
.el-date-range-picker{
  .in-range.start-date,.in-range.end-date{
    div{
      padding-top: 0;
      padding-bottom: 0;
      height: 30px;
      line-height: 30px;
      span{
        height: 30px;
        line-height: 30px;
        background-color: @menuSelectColor;
        border-radius: 0;
        width: 100%;
      }
    }
  }
}

.el-select__popper{
  .el-select-dropdown{
    .el-select-dropdown__item{
      height: 1.875rem;
      line-height: 1.875rem;
      margin-bottom: 1px;
      background-color: #FFF;
    }
    .el-select-dropdown__item.hover:not(.selected){
      background-color: #F4F5F9;
    }
    .el-select-dropdown__item.selected{
      background-color: rgba(4, 85, 218, 0.1);
      color: rgba(14, 29, 56, 1);
      font-weight: normal;
    }
  }
  // 多选样式
  .el-select-dropdown.is-multiple{
    .el-select-dropdown__item{
      padding-left: 1.875rem;
      box-sizing: border-box;
    }
    .el-select-dropdown__item.selected {
      background: rgba(4, 85, 218, 0.1) url("../../assets/images/dropdownbox_xuanzhe.png") no-repeat 0.5rem;
    }
  }
}

// 表格
.el-table{
  .el-table__cell{
    padding: 0;
  }
  thead{
    --el-table-header-bg-color: #F4F4F4!important;
    --el-table-header-text-color: @labelColor;
    th{
      height: 40px;
      line-height: 40px;
      .cell{
        font-weight: 400;
      }
    }
    th.el-table-fixed-column--right{
      background-color: #F4F4F4!important;
    }
  }
  tbody{
    tr{
      td{
        height: 48px;
        line-height: 48px;
        padding: 0;
      }
    }
  }
  .el-table__empty-block{
    height: 48px!important;
    line-height: 48px!important;
  }
}

// 弹框样式
.el-dialog{
  font-weight: 400;
  font-size: 14px;
  color: #18222E;
  position: relative;
  margin: 0!important;
  top: 50%;
  left: 50%;
  width: 640px;
  background-color: #fff;
  transform: translate(-50%,-50%);
  border-radius: 0;
  .el-dialog__header{
    padding: 0 16px;
    height: 3.125rem;
    border-bottom: 1px solid #DADCE0;
    margin: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    & > span{
      font-size: 16px;
    }
    .header_close{
      img{
        cursor: pointer;
      }
    }
  }
  .el-dialog__body{
    // height: 25rem;
    box-sizing: border-box;
    background-color: white;
    padding:2.25rem 2.25rem 1rem 1.25rem;
  }
  .el-dialog__footer{
    height: 3.5rem;
    text-align: center;
    border-top: 1px solid #DADCE0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    button {
      height:2.125rem;
      border-radius: 0;
      padding:0 1.5625rem;
      border: 1px solid #BCBDBE;
      color: #0E1D38;
      background: rgba(242, 242, 242, 0.8);
    }
    .standard:hover{
      background: rgba(242, 242, 242, 0.8);
      color: #0455DA;
      border-color: #0455DA;
    }
    & > .el-button:nth-of-type(1):hover{
      border-color: #0455DA;
      color: #0455DA;
    }
    .el-button:nth-of-type(2){
      background-color: #0455DA;
      color: #FFF;
    }
    .is-disabled{
      background-color: #82aaec!important;
      border-color: #82aaec!important;
      color: hsla(0,0%,100%,.5)!important;
    }
  }
}
// 表单样式
.el-form{
  .el-form-item{
    .el-form-item__label{
      display: inline-block;
      height: 2.125rem;
      line-height: 2.125rem;
    }
    .el-form-item__content{
      & > .el-select{
        width: 100%;
      }
    }
  }
}

// 开关样式
.el-switch{
  .el-switch__core{
    width: 34px!important;
    height: 14px;
  }
  .el-switch__action{
    width: 18px;
    height: 18px;
    top: -3px;
    left: -1px;
    background-color: #FFF;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  }
}
.el-switch.is-checked{
  .el-switch__action{
    background-color: #0455da;
  }
}

// 颜色选择器
.el-color-picker{
  height: auto;
  .el-color-picker__trigger{
    padding: 0;
    width: 30px;
    height: 16px;
    border-radius: 0;
  }
  .el-color-picker__icon::before{
    display: none;
  }
  .el-color-picker__color{
    border-radius: 0;
    border: none;
  }
  .el-icon.el-color-picker__icon{
    display: none;
  }
}

.el-notification{
  padding: 0;
  max-width: 320px;
  min-width: 260px;
  border-radius: 0;
  .el-notification__icon{
    display: none;
  }
  .el-notification__group{
    width: 100%;
    padding: 9px 34px 9px 0;
    box-sizing: content-box;
    .el-notification__title{
      display: none;
    }
    .el-notification__content{
      width: 100%;
      font-size: 14px;
      margin: 0;
    }
    .el-notification__closeBtn{
      top: 50%;
      transform: translateY(-50%);
      color: rgba(55, 65, 83, 0.8);
    }
  }
}
.success-notification{
  background-color:rgba(23, 164, 63, 0.2);
  border: 1px solid rgba(23, 164, 63, 0.5);
  .el-notification__group{
    .el-notification__content{
      color: rgba(23, 164, 63, 1);
    }
  }
}
.error-notification{
  background-color:rgba(227, 41, 10, 0.2);
  border: 1px solid rgba(227, 41, 10, 0.5);
  .el-notification__group{
    .el-notification__content{
      color: rgba(227, 41, 10, 1);
    }
  }
}
.warning-notification{
  background-color:rgba(225, 126, 13, 0.2);
  border: 1px solid rgba(225, 126, 13, 0.5);
  .el-notification__group{
    .el-notification__content{
      color: rgba(225, 126, 13, 1);
    }
  }
}
